body, h1, h2, h3, h4, h5, h6, p, a, div, header, form {
  font-family: 'Permanent Marker', cursive !important;
}
body {
  background-color: rgb(193, 194, 194);
}
#headline {
  font-size: 50px;
  font-color: rgb(31, 31, 31);
}
#new-chart-butter {
  font-color: rgb(156, 24, 154);
}
